html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

p {
    font-size: 32pt;
}

td,
th {
    vertical-align: middle !important;
}

td {
    text-align: right !important;
}