html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

p {
    font-size: 12pt;
    margin-bottom: 0;
}

td,
th {
    vertical-align: middle !important;
}

td {
    text-align: right !important;
}

#temperature-container {
    max-height: 400px;
    height: 400px;
}

#humidity-container {
    max-height: 400px;
    height: 400px;
}

#moisture-container {
    max-height: 400px;
    height: 400px;
}

#pump-schedule-add {
    display: block;
    margin: auto;
}

#lamp-schedule-add {
    display: block;
    margin: auto;
}

.schedule-container {
    margin-top: 5px;
    margin-bottom: 5px;
}

ul {
    list-style: none;
    padding-left: 0;
}

.measurement {
    padding-top: 10px;
    padding-bottom: 10px;
}

label {
    margin-bottom: 0 !important;
    padding-top: 5px;
}

.schedule-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
}

h6 {
    font-weight: 600 !important;
}