<html>

<head>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
  <script src="https://weareoutman.github.io/clockpicker/dist/bootstrap-clockpicker.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://weareoutman.github.io/clockpicker/dist/bootstrap-clockpicker.min.css">
  <title>Team 37: Control Center</title>

  <style>
    /* main.css */
  </style>
</head>

<body>
  <div class="jumbotron text-center">
    <h1>6.08 Final Project</h1>
    <h2>Team 37</h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>Sensor Readings</h3>

        <div class="measurement">
          <h6>Moisture</h6>
          <div id="moisture-container" width="100%">
            <canvas id="moisture-reading"></canvas>
          </div>
        </div>

        <div class="measurement">
          <h6>Temperature</h6>
          <div id="temperature-container" width="100%">
            <canvas id="temperature-reading"></canvas>
          </div>
        </div>


        <div class="measurement">
          <h6>Humidity</h6>
          <div id="humidity-container" width="100%">
            <canvas id="humidity-reading"></canvas>
          </div>
        </div>

        <h3>Camera</h3>
        <div id="camera">
        </div>
      </div>

      <div class="col-sm-6">
        <h3>Status</h3>
        <table class="table">
          <tr>
            <th>Pump</th>
            <td id="pump-status"></td>
          </tr>
          <tr>
            <th>Lamp</th>
            <td id="lamp-status"></td>
          </tr>
        </table>

        <h3>Intended Status</h3>
        <table class="table">
          <tr>
            <th>Pump</th>
            <td id="pump-intent"></td>
          </tr>
          <tr>
            <th>Lamp</th>
            <td id="lamp-intent"></td>
          </tr>
        </table>

        <h3>Controls</h3>
        <table class="table">
          <tr>
            <th>Pump Override</th>
            <td>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label id="pump-off-btn" class="btn btn-secondary active">
                  <input type="radio" name="options" id="pump-off" autocomplete="off" checked> Off
                </label>
                <label id="pump-on-btn" class="btn btn-secondary">
                  <input type="radio" name="options" id="pump-on" autocomplete="off"> On
                </label>
                <label id="pump-none-btn" class="btn btn-secondary">
                  <input type="radio" name="options" id="pump-none" autocomplete="off"> None
                </label>
              </div>
            </td>
          </tr>

          <tr>
            <th>Lamp Override</th>
            <td>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label id="lamp-off-btn" class="btn btn-secondary active">
                  <input type="radio" name="options" id="lamp-off" autocomplete="off" checked> Off
                </label>
                <label id="lamp-on-btn" class="btn btn-secondary">
                  <input type="radio" name="options" id="lamp-on" autocomplete="off"> On
                </label>
                <label id="lamp-none-btn" class="btn btn-secondary">
                  <input type="radio" name="options" id="lamp-none" autocomplete="off"> None
                </label>
              </div>
            </td>
          </tr>
        </table>

        <!-- Add pump time modal -->
        <div class="modal" id="add-pump-time-modal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Schedule pump time</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <label>Start time</label>
                <div class="input-group clockpicker">
                  <input id="pump-time-start" type="text" class="form-control" value="09:30">
                  <span class="input-group-append">
                    <span class="input-group-text"><i class="far fa-clock"></i></span>
                  </span>
                </div>
                <label>Duration (in seconds)</label>
                <div class="input-group">
                  <input id="pump-time-duration" type="number" min="0" max="86399" class="form-control" value="30">
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" id="pump-schedule-finish" class="btn btn-success">Finish</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Add lamp time modal -->
        <div class="modal" id="add-lamp-time-modal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Schedule lamp time</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <label>Start time</label>
                <div class="input-group clockpicker">
                  <input id="lamp-time-start" type="text" class="form-control" value="09:30">
                  <span class="input-group-append">
                    <span class="input-group-text"><i class="far fa-clock"></i></span>
                  </span>
                </div>
                <label>End time</label>
                <div class="input-group clockpicker">
                  <input id="lamp-time-end" type="text" class="form-control" value="09:30">
                  <span class="input-group-append">
                    <span class="input-group-text"><i class="far fa-clock"></i></span>
                  </span>
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" id="lamp-schedule-finish" class="btn btn-success">Finish</button>
              </div>
            </div>
          </div>
        </div>

        <h3>Settings</h3>
        <div class="schedule-container">
          <h6>Pump Schedule</h6>
          <ul id="pump-schedule-list">
          </ul>
          <button type="button" id="pump-schedule-add" class="btn btn-outline-success" data-toggle="modal" data-target="#add-pump-time-modal">
            <i class="far fa-clock"></i>
            Add time
          </button>
        </div>

        <div class="schedule-container">
          <h6>Lamp Schedule</h6>
          <ul id="lamp-schedule-list">
          </ul>
          <button type="button" id="lamp-schedule-add" class="btn btn-outline-success" data-toggle="modal" data-target="#add-lamp-time-modal">
            <i class="far fa-clock"></i>
            Add time
          </button>
        </div>

        <div class="schedule-container">
          <h6>Moisture bounds</h6>
          <label>Minimum</label>
          <div class="input-group">
            <input id="moisture-min" type="number" min="0" max="100" class="form-control" value="0">
          </div>

          <label>Maximum</label>
          <div class="input-group">
            <input id="moisture-max" type="number" min="0" max="100" class="form-control" value="100">
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    /* main.js */
  </script>
</html>